header{
  background: url("tortilla-pizza-recipe4.jpg");
  background-size: 100px 100px;
  background-repeat: repeat;
  padding: 15px;
  background-position: left top;
}
h1 {
  font-family: Impact, Charcoal, sans-serif;
}

footer{
  clear: both;
  text-align: center;
}
