article {
  border: 1px solid black;
  background: url(https://cookieandkate.com/images/2012/05/tortilla-pizza-recipe4.jpg);
  background-size: 500px 500px;
  background-repeat: no-repeat;
  padding: 15px;
}
h1 {
  font-family: Impact, Charcoal, sans-serif;
}

footer{
  clear: both;
  text-align: center;
}
