header{
  background: url("tortilla-pizza-recipe4.jpg");
  background-size: 100px 100px;
  background-repeat: repeat;
  padding: 15px;
  background-position: left top;
}

body {
  font-family: Georgia, Times, serif;
  color: #000000;
  line-height: 140%;
  margin: 30px 30px 30px 30px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F7F3DE;
}
h1 {
  font-family: Impact, Charcoal, sans-serif;
}

footer{
  clear: both;
  text-align: center;
}
